/* Custom CSS to center the content */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Custom CSS to set the image height */
.full-height-image {
  /* height: 40%; */
  max-height: 100vh;
  width: auto
}